<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul style="display: flex;gap: 20px;">
            <li><a href="/student/home">Home</a></li>
            <li><a href="/student/insert">Insert</a></li>
            <li><a href="/student/display">Display</a></li>
        </ul>
    </nav>

    <h1>Display Page</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Age</th>
        </tr>
        <% student.map((item)=>{ %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.city %></td>
            <td><%= item.age %></td>
        </tr>
        <% }) %>
    </table>
    
</body>
</html>
