<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul style="display: flex;gap: 20px;">
            <li><a href="/student/home">Home</a></li>
            <li><a href="/student/insert">Insert</a></li>
            <li><a href="/student/display">Display</a></li>
        </ul>
    </nav>


    <h1>Home Page</h1>
    
</body>
</html>