<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul style="display: flex;gap: 20px;">
            <li><a href="/student/home">Home</a></li>
            <li><a href="/student/insert">Insert</a></li>
            <li><a href="/student/display">Display</a></li>
        </ul>
    </nav>


    <h1>Insert Page</h1>

    <form action="/student/save" method="post">
  <label for="name">Name</label> <input type="text" name="name"> <br> <br>
  <label for="name">City</label> <input type="text" name="city"> <br> <br>
  <label for="name">Age</label> <input type="text" name="age"> <br> <br>
  <button>Insert</button>
    </form>
    
</body>
</html>